@media (min-width: 460px) {
    dl {
        font-size: 1.8rem;
        height: 85px;
    }
}

@media (min-width: 590px) {
    q {
        font-size: 3.6rem;
    }
}

@media (min-width: 610px) {
    main, footer {
        padding: 0 10px;
    }

    h1 {
        margin-top: 120px;
    }

    q {        
        margin-top: 46px;
        height: 40px;
    }

    dfn {
        font-size: 2.4rem;
    }

    dl {
        margin-top: 78px;
    }

    dd::after {
        top: 15%;
    }

    .time-computation {
        margin-top: 102px;
    }

    .goal>.for-br:nth-child(2) {
        margin-top: 27px;
        line-height: 1.5;
    }

    .mobile-br {
        display: inline;
    }

    input {
        padding: 17px 0 16px;
    }
    
    .computation-btn {
        /* width: auto; */
        margin-top: 115px;
        padding: 21px 49px;
    }

    .computation-btn::after {
        left: calc(100% + 7px);
        bottom: -30%;
        width: 64px;
        height: 72px;
    }

    .go-btn {
        padding: 21px 49px;
    }

    .computation-result {
        margin-top: 147px;
    }

    .result_loading {
        margin-top: 147px;
    }

    .txt-wannabe .for-br {
        margin-top: 17px;
    }

    footer {
        margin-top: 130px;
        margin-bottom: 70px;
    }

    .go-btn {
        border-radius: 56px;
        line-height: 1;
        width: 508px;
    }

    .study {
        left: -18px;
    }

    .modal {
        padding: 76px 0 68px;
        line-height: 40px;
    }

    .licat-img {
        margin: 29px auto 74px;
    }

    .mobile-blind {
        position: initial;
        clip: initial;
        width: initial;
        height: initial;
        margin: initial;
        overflow: initial;
    }

    .bigger {
        font-size: 9.6rem;
        line-height: 10.6rem;
    }

    .cheer-up {
        font-size: 3.6rem;
    }

    .study, .share {
        margin-top: 127px;
    }

    .txt-wannabe strong {
        font-size: 7.2rem;
    }

    .copyright {
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

@media (min-width: 720px) {
    .computation-btn {
        border-radius: 56px;
        width: auto;
    }
}

@media (min-width: 1000px) {
    .title-img {
        top: 74px;
        width: 564px;
    }

    .computation-btn {
        width: 565px;
    }

    .share, .study {
        padding: 21px 49px;
    }

    .share {
        width: 191px;
    }

    .study {
        width: 356px;
        left: -18px;
    }
}
