/*
///글꼴 다운로드///
*/
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/*
///폰트 크기 설정///
*/
html {
    font-size: 10px;
}
/* 가로 너비기준 폰트사이즈 지정 */
.vw-font-size {
    font-size: calc(14 / 3.6 * 1vw);
}
/* 최소 폰트값 설정 */
@media (max-width:340px){
    .vw-font-size {
        font-size:1.2rem;
    }
}
/* 최대 폰트값 설정 */
/* (14 / 3.6) * 6.1 < 24  */
/* (14 / 3.6) * 6.2 > 24 */
@media (min-width:610px){
    .vw-font-size {
        font-size: 2.4rem;
    }
}

/*
///body///
*/
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'GmarketSansMedium';
}

/*
///main, footer///
*/
main, footer {
    max-width: 765px;
    text-align: center;
    padding: 0 24px;
    margin: 0 auto;
}

/*
///h1///
*/
h1 {
    margin-top: calc(41 / 3.6 * 1vw); 
    position: relative;
    height: calc(126 / 3.6 * 1vw);
    max-height: 265px;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (min-width:1000px) {
    h1 {
        margin-top: 12rem;
    }
}

.title-img {
    position: absolute;
    top: calc(35 / 126 * 100%);
    left: 50%;
    transform: translateX(-50%);
    width: calc(267 / 312 * 100%);
    max-width: 564px;
}

@media (min-width:1000px) {
    .title-img {
        top: 74px;
    }
}

/*
///인용문///
*/
q {
    font-family: 'OTEnjoystoriesBA';
    display: block;
    margin-top: 9.94%;
    font-size: 6.11vw;
    color: var(--quote-color);
}

/*
///1만 시간 법칙 설명///
*/
.for-br {
    display: block;
}

dl {
    font-size: 14px;
    margin-top: 61px;
}

dfn {
    font-family: 'GmarketSansBold';
}

dd {
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
///계산 영역///
*/
.time-computation {
    margin-top: 62px;
}

.goal>span:nth-child(2) {
    /* 17 / 14 = 1.21 */
    margin: 1.21em 0 0;
}

.for-br {
    display: block;
}

.mobile-br {
    display: block;
}

.goal .mobile-br {
    margin-top: 19px;
}

input {
    line-height: 1;
    box-sizing: content-box;
    font-family: inherit;
    font-size: inherit;
    /* 156 / 14 = 11.14 */
    width: 11.14em;
    height: 1em;
    max-width: 228px;
    padding: 12px 0 11px;
    border: none;
    border-radius: 7px;
    color: var(--point-text-color);
    text-align: center;
}

input::placeholder {
    color: var(--placeholder-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/*
///계산 영역의 버튼///
*/
/* 버튼 초기화 */
button {
    box-sizing: content-box;
    border-radius: 56px;
    border: none;
    line-height: 1;
    font-family: 'GmarketSansBold';
    font-size: inherit;
    background-color: var(--btn-color);
    color: var(--point-text-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.computation-btn {
    line-height: 1.2;
    position: relative;
    padding: 1.9rem 0 1.7rem;
    width: 17.21em;
    border-radius: 13px;
    /* (49/312)*100=15.71 */
    margin-top: 15.71%;
}

.click-img {
    /* 43 / 14 = 3.07 */
    width: 3.07em;
    max-width: 64px;
    position: absolute;
    left: calc(100% + 6px);
    bottom: -15%;
}

/*
///계산 결과 영역///
*/
.computation-result {
    /* (64/312)*100=20.51 */
    margin-top: 20.51%;
}

strong {
    /* 24/14 */
    font-size: 1.71em;
    font-family: 'GmarketSansBold';
}

/*
///계산 결과 버튼///
*/
.studynshare {
    /* (55/312)*100 */
    margin-top: 17.63%;
}

.share {
    background-color: #FFFFFF;
}

.study {
    padding: 13.5px 17.5px 12.5px;
    margin-right: 13px;
}

.share {
    padding: 13.5px 19px 12.5px;
}

/*
///footer///
*/
footer {
    /* (83/360)*100 */
    margin-top: 23.06%;
    /* (32/360)*100 */
    margin-bottom: 8.89%;
}

.footer-img {
    /* 91/3.6 */
    width: 25.27vw;
    max-width: 125px;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 17px;
    line-height: normal;
}

/*
///모달///
*/
.modal {
    /* 330/360=91.67% */
    background-color: white;
    width: 91.67vw;
    max-width: 800px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.cheer-up {
    font-family: 'OTEnjoystoriesBA';
    color: var(--point-text-color);
    /* 36/14 */
    font-size: 2.57em;
    text-align: center;
}

.bigger {
    /* 64/14 */
    font-size: 1.78em;
}

.mobile-blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.licat-img {
    /* 433/800 */
    width: 54.125%;
    margin: 29px 0;
}

.go-btn {
    border-radius: 13px;
    padding: 19px 45px 17px;
    line-height: 1.2;
}

@media screen and (min-width: 590px) {
    body {
        font-size: 24px;
    }

    main, footer {
        padding: 0 10px;
    }

    q {
        font-size: 36px;
        margin-top: 46px;
    }

    dl {
        margin-top: 78px;
        font-size: 18px;
    }

    dfn {
        font-size: 24px;
    }

    dd {
        min-height: 85px;
    }

    .time-computation {
        margin-top: 102px;
    }

    .mobile-br {
        display: initial;
        margin-top: 0;
    }

    .goal>span:nth-child(2) {
        /* 27 / 24 = 1.125 */
        margin: 1.125em 0 0;
        line-height: 2;
    }

    .goal .mobile-br {
        margin-top: 0;
    }

    input {
        padding: 17px 0 16px;
    }

    .computation-btn {
        box-sizing: content-box;
        width: initial;
        padding: 21px 49px;
        /* (115/745)*100=15.44 */
        margin-top: 15.44%;
    }

    .computation-result {
        /* (147/745)*100=19.73 */
        margin-top: 19.73%;
    }

    strong {
        /* 72/24 */
        font-size: 3em;
    }

    .studynshare {
        /* (127/745)*100 */
        margin-top: 17.05%;
    }

    .study, .share {
        padding: 21px 49px;
    }

    .study {
        margin-right: 18px;
    }

    footer {
        margin-top: 130px;
        margin-bottom: 70px;
    }

    .copyright {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .cheer-up {
        font-size: 36px;
    }
    
    .bigger {
        font-size: 96px;
    }

    .mobile-blind {
        position: initial;
        clip: initial;
        width: initial;
        height: initial;
        margin: initial;
        overflow: initial;
    }

    .go-btn {
        padding: 21px 49px;
    }

    .computation-btn, .go-btn {
        border-radius: 56px;
        line-height: 1;
    }

    .modal {
        padding: 76px 0 68px;
    }

    .licat-img {
        margin-bottom: 74px;
    }
}

@media screen and (min-width: 590px) and (max-width: 769px) {
    .click-img {
        display: none;
    }

    strong {
        font-size: 2em;
    }
}

@media screen and (max-width: 339px) {
    main, footer {
        padding: 0 10px;
    }
}

@media screen and (min-width: 590px) and (max-width: 617px) {
    .share {
        margin-top: 20px;
    }
}
